.react-datatable {
  &--container {
    padding: 15px;
  }
  &--footer {
    &--wrapper {
      float: right;
      padding: 15px 0px;
    }
    &--pagination-total {
      float: right;
      padding: 6px 0;
      font-weight: bold;
    }
    &--pagination {
      float: right;
    }
    &--size-per-page {
      float: right;
    }
  }
  &--title-text {
    margin: 15px 0;
    font-weight: bold;
  }
  &--actions-dropdown {
    width: 20%;
    margin-left: 5px;
    .reactSelect {
      &--custom-option {
        padding: 8px 10px;
        background-color: #fff;
        cursor: pointer;
        border-bottom: 1px solid #ddd;
        width: auto;
        &--icon {
          width: 22px;
          padding-right: 10px;
          text-align: center;
        }
      }
      &__menu {
        z-index: 9999;
      }
      &__menu-list {
        max-height: 160px;
        width: 200px;
        right: 0;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
        padding: 0;
        position: absolute;
        background-color: #fff;
      }
      &__control {
        height: 30px;
        min-height: 30px;
        align-content: center;
      }
    }
  }
  &--table-wrapper {
    .react-bootstrap-table {
      table {
        border-top: 2px solid #000;
        margin-bottom: 10;
        thead {
          th {
            background-color: #fff;
            border: none;
            .react-bootstrap-table-sort-order {
              top: 5px;
            }
            .order {
              position: relative;
              top: 2px;
              font-size: 12px;
            }
            .caret {
              border-width: 3.4px !important;
              margin-top: 7px !important;
            }
          }
        }
        tbody {
          max-height: 185px;
          overflow: auto;
          tr {
            &:last-child {
              td {
                &:first-child {
                  border-bottom-left-radius: 4px;
                }
                &:last-child {
                  border-bottom-right-radius: 4px;
                }
              }
            }
          }
        }
        th {
          padding: 5px;
          vertical-align: middle;
          &:first-child {
            border-top-left-radius: 4px;
          }
          &:last-child {
            border-top-right-radius: 4px;
            text-align: center;
          }
        }
        td {
          border-left: none;
          border-right: none;
          font-size: 12px;
          vertical-align: middle;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          &:last-child {
            text-align: center;
          }
        }
        .selection-row {
          background-color: #F1F1F1;
        }
        .expanding-row {
          >td {
            padding: 0 !important;
            border-left: none;
            border-right: none;
            .react-bootstrap-table {
              margin-top: -1px;
              margin-right: -1px;
              margin-bottom: -1px;
              margin-left: -1px;
              padding-left: 60px;
              table {
                margin-bottom: 0;
                border-left: none;
                border-right: none;
                thead {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  &--pagination {
    float: right;
    margin: 0;
    >li {
      &:first-child {
        >a {
          border-radius: 15px;
        }
      }
      &:last-child {
        >a {
          border-radius: 15px;
        }
      }
      >a {
        color: black;
        font-weight: bold;
        border: none;
        border-radius: 15px;
        &:hover {
          background-color: #000000;
          border-color: #000000;
          color: white;
        }
      }
      &.active {
        >a {
          background-color: #000000 !important;
          border-color: #000000;
          color: white;
          &:hover {
            background-color: #000000;
            border-color: #000000;
            color: white;
          }
        }
      }
    }
  }
  &--size-per-page {
    margin-left: 5px;
    .reactSelect {
      &--custom-option {
        padding: 4px 10px;
        background-color: #fff;
        cursor: pointer;
        border-bottom: 1px solid #ddd;
        width: auto;
        color: black;
        &--is-selected {}
        &--icon {
          width: 22px;
          padding-right: 10px;
          text-align: center;
        }
      }
      &__menu {
        margin-top: 0;
      }
      &__menu-list {
        width: 50px;
        right: 0;
        border-radius: 3px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
        padding: 0;
        position: absolute;
        background-color: #fff;
      }
      &__control {
        height: 30px;
        min-height: 30px;
        align-content: center;
        border-bottom: 3px solid black;
      }
      &__single-value {
        font-weight: bold;
        color: black;
      }
      &__value-container {
        width: 25px;
      }
      &__indicator-separator {
        display: none;
      }
      &__dropdown-indicator {
        padding: 2px;
        color: black;
      }
    }
  }
}