.treeview-wrapper {
  height: 430px;
  overflow: auto;
  background: #ffffff;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 5px;
  margin-right: -1px;
  border-bottom: none;
}

.treeview-main {
  margin: 0;
  padding: 15px;
  margin-left: 10px;
  overflow: hidden;
  font-family: 'Monospaced Number', 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: bold;
}

.treeview {
  overflow: hidden;
}

.treeview-hostname {
  cursor: pointer;
}

.treeview>.toggle {
  pointer-events: all;
  cursor: pointer;
  top: 5px;
  position: relative;
  right: 1px;
  padding: 4px;
}

.treeview>.toggle:hover {
  color: #63b1de;
  fill: #63b1de;
}