/*
 * Skin: Blue
 * ----------
 */

.skin-blue {
  //Navbar
  .main-header {
    .navbar {
      .navbar-variant(@white; #000000);
      .sidebar-toggle {
        color: #000000;
        border: none;
        &:hover {
          background-color: darken(@white, 5%);
        }
      }
      @media (max-width: @screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken(@white, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    // .logo {
    //   .logo-variant(darken(@light-blue, 5%));
    // }

    li.user-header {
      background-color: @white;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  .skin-dark-sidebar(@white);
}

// .skin-blue.layout-top-nav .main-header > .logo {
//   .logo-variant(@light-blue);
// }
