// .wrapper{
//     border-top-color: rgb(19, 33, 94);
//     border-top-style: solid;
// }
.row{
  background-color: unset;
}
/*
* Component: Info Box
* -------------------
*/
.info-box {
  display: block;
  min-height: 70px;
  background: rgb(255, 255, 255);
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  .border-radius(2px);
  margin-bottom: 15px;
  small {
    font-size: 10px;
  }
}

.info-box-icon {
  .border-radius(2px; 0; 2px; 0);
  display: block;
  float: left;
  height: 70px;
  width: 70px;
  text-align: center;
  font-size: 45px;
  line-height: 70px;
  background: rgba(0, 0, 0, 0.2);
  > img {
    max-width: 100%;
  }
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}

.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 17px;
}

.progress-description,
.info-box-text {
  display: block;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-box-text {
  text-transform: uppercase;
  font-weight: bold;
}

.info-box-more {
  display: block;
}

.progress-description {
  margin: 0;
}

.status-bar-responsive {
  width: 120%;
}
