
.tooltip{
    font:300 12px 'Open Sans', sans-serif;
    position: absolute;
    color: #FFFFFF;
    background: #000000;
    padding:5px 10px;
    width:140px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: transform .3s, opacity .6s, margin-left .2s, margin-top .2s;
  }