.configurations {
  &--header {
    display: flex;
    &--button {
      padding: 10px 30px;
      background-color: transparent;
      color: black;
      font-size: 24px;
      border: 1px solid black;
      border-left: none;
      border-top: none;
      &:hover {
        color: black;
      }
      &:focus {
        color: black;
      }
    }
    &--title {
      flex: 1;
      font-size: 18px;
      align-items: flex-start;
      align-content: center;
      padding: 10px;
      border-bottom: 1px solid black;
    }
  }
  &--form {
    &--label {
      padding: 5px 0;
      color: #747676;
    }
    &--input {
      padding: 18px 10px;
      height: 40px;
      border-radius: 4px;
      border-color: #D8DADA;
      border-bottom: 2px solid black;
      &:focus {
        border: 1px solid black;
        .configurations {
          &--form {
            &--label {
              color: #747676;
            }
            &--input {
              border-color: black;
            }
          }
        }
      }
      &--error {
        color: red;
      }
    }
    &--textarea {
      padding: 18px 10px;
      border-radius: 4px;
      border-color: #D8DADA;
      border-bottom: 2px solid black;
      &:focus {
        border: 1px solid black;
        .configurations {
          &--form {
            &--label {
              color: #747676;
            }
            &--textarea {
              border-color: black;
            }
          }
        }
      }
    }
    &--select {
      height: 40px;
      .reactSelect__control {
        border-bottom: 2px solid black;
      }
      .reactSelect__menu-list {
        max-height: 155px;
      }
    }
    &--control {
      padding: 10px 30px;
      &.has-error {
        .configurations {
          &--form {
            &--label {
              color: #747676;
            }
            &--select {
              .reactSelect__control {
                border-bottom: 3px solid black;
                border-color: orange;
              }
            }
            &--input {
              border-bottom: 3px solid black;
              border-color: orange;
            }
            &--textarea {
              border-bottom: 3px solid black;
              border-color: orange;
            }
          }
        }
      }
      &.is-disabled {
        .configurations {
          &--form {
            &--select {
              .reactSelect__control {
                border-color: #D8DADA;
              }
            }
            &--label {
              color: #D8DADA;
            }
            &--input {
              border-color: #D8DADA;
            }
            &--textarea {
              border-color: #D8DADA;
              resize: none;
            }
          }
        }
      }
      &.is-locked {
        .configurations {
          &--form {
            &--select {
              .reactSelect__control {
                border-color: transparent;
              }
              .reactSelect__control--is-disabled {
                background-color: transparent;
              }
              .reactSelect__dropdown-indicator {
                color: transparent;
              }
              .reactSelect__value-container {
                padding: 0;
              }
              .reactSelect__single-value {
                margin: 0;
              }
            }
            &--label {
              color: #747676;
            }
            &--input {
              border-color: transparent;
              color: black;
              padding: 0;
              background-color: transparent;
              cursor: default !important;
            }
            &--textarea {
              border-color: transparent;
              color: black;
              padding: 0;
              background-color: transparent;
              resize: none;
              cursor: default !important;
            }
          }
        }
      }
    }
  }
  &--title {
    font-weight: bold;
    color: black;
    padding: 10px 30px;
  }
  &--row {
    padding: 20px;
  }
  &--buttons {
    padding: 10px 30px;
  }
}

.schedule-backup-form {
  .react-datepicker-wrapper {
    width: 100%;
    display: block;
  }
  .react-datepicker__input-container {
    width: 100%;
    display: block;
    input {
      width: 100%;
      display: block;
    }
  }
  .configurations--form--control {
    padding: 0 10px;
  }
}