// react-tabs
.config-management {
  &--header {
    &--title {
      &--text {
        margin: 0;
      }
    }
  }
  &--snapshots {
    &--sidebar {
      padding: 0;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin: -1px;
      width: 22%; // width: 222px;
    }
    &--table {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 0;
      width: 76%;
      margin-left: 17px; // margin-left: 14px;
      .react-bootstrap-table {
        .table {
          margin: 0;
        }
      }
    }
  }
  &--config-table {
    .react-bootstrap-table {
      .table {
        margin: 0;
      }
    }
  }
  &--tab-content {
    padding-left: 0 !important;
  }
  &--groupby {
    padding: 15px;
    background: #ededed;
    .sortby-reset {
      background-color: transparent;
      color: #333;
      border-color: transparent;
      position: relative;
      top: -8px;
    }
    .reactSelect {
      .react-select-indicator-wrapper {
        color: #333;
      }
      .react-select-placeholder {
        color: #8c8c8c;
      }
      .reactSelect__single-value {
        font-weight: normal;
      }
    }
    .table {
      margin: 0;
      td {
        padding: 0;
      }
    }
  }
}

.treeview-container {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.treeview-container>div {
  background-color: transparent;
}

.config-management--search-box {
  width: 25%;
  margin-left: 5px;
  .form-control {
    height: 30px;
  }
  input:focus {
    border: 1px solid #ccc !important;
  }
}

h5.config-management--groupby-title {
  font-weight: bold;
}

// config-table
.config-table {
  // &--table-header {}
  &--actions-dropdown {
    width: 20%;
    margin-left: 5px;
    .reactSelect {
      &--custom-option {
        padding: 8px 10px;
        background-color: #fff;
        cursor: pointer;
        border-bottom: 1px solid #ddd;
        width: auto;
        &--icon {
          width: 22px;
          padding-right: 10px;
          text-align: center;
        }
      }
      &__menu-list {
        width: 200px;
        max-height: 160px;
        right: 0;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
        padding: 0;
        position: absolute;
      }
      &__control {
        height: 30px;
        min-height: 30px;
        align-content: center;
      }
    }
  }
  &--table-title {
    margin: 15px 0;
    font-weight: bold;
  }
  &--table-header.clearfix {
    padding: 10px 0;
  }
  &--table-controls {
    padding: 5px;
  }
  &--pagination {
    float: right;
    >li {
      &:first-child {
        >a {
          border-radius: 15px;
        }
      }
      &:last-child {
        >a {
          border-radius: 15px;
        }
      }
      >a {
        color: black;
        font-weight: bold;
        border: none;
        border-radius: 15px;
        &:hover {
          background-color: #000000;
          border-color: #000000;
          color: white;
        }
      }
      &.active {
        >a {
          background-color: #000000 !important;
          border-color: #000000;
          color: white;
          &:hover {
            background-color: #000000;
            border-color: #000000;
            color: white;
          }
        }
      }
    }
  }
  &--table-wrapper {
    // .rc-pagination {
    //   float: right;
    // }
    // .rc-pagination-prev,
    // .rc-pagination-next {
    //   background-color: transparent;
    //   color: black;
    //   border-radius: 15px;
    //   min-width: 30px;
    //   height: 30px;
    //   line-height: 30px;
    //   border: none;
    // }
    // .rc-pagination-prev a,
    // .rc-pagination-next a {
    //   color: black;
    // }
    // .rc-pagination-total-text .react-bootstrap-table-pagination-total {
    //   color: black;
    //   font-weight: bold;
    // }
    // .rc-pagination-item {
    //   background-color: transparent;
    //   border-radius: 15px;
    //   min-width: 30px;
    //   height: 30px;
    //   line-height: 30px;
    // }
    // .rc-pagination-item a {
    //   color: black;
    //   font-weight: bold;
    // }
    // .rc-pagination-item:hover {
    //   background-color: #000000;
    //   border-color: #000000;
    // }
    // .rc-pagination-item:hover a {
    //   color: white;
    // }
    // .rc-pagination-item-active {
    //   background-color: #000000;
    //   border-color: #000000;
    //   color: white;
    // }
    // .rc-select {
    //   color: black;
    // }
    // .rc-select-selection {
    //   border-color: #000;
    //   border-bottom: 3px solid #000;
    // }
    // .rc-select-selection--single {
    //   height: 30px;
    //   line-height: 30px;
    // }
    // .rc-select-arrow .rc-select-arrow-icon {
    //   border-color: black transparent transparent transparent;
    // }
    // .rc-select-focused .rc-select-selection {
    //   border-color: #000000;
    //   box-shadow: 0 0 2px #000000;
    // }
    // .rc-select-enabled .rc-select-selection:hover {
    //   border-color: #000000;
    //   box-shadow: 0 0 2px #000000;
    // }
    // li.rc-select-dropdown-menu-item-active {
    //   background-color: #000;
    //   color: white;
    // }
    // .rc-select-enabled .rc-select-selection:active {
    //   border-color: #000000;
    //   color: white;
    // }
    // .panel-maximize.page-size-dropdown-open {
    //   .react-bootstrap-table-pagination-wrapper {
    //     margin-bottom: 110px;
    //   }
    // }
    // .react-bootstrap-table-pagination-dropdown {
    //   position: relative;
    //   .react-bs-table-sizePerPage-dropdown {
    //     position: absolute;
    //     left: 45px;
    //     top: -4px;
    //   }
    // }
    // .react-pagination-dropdown-text {
    //   margin-left: 50px;
    //   &:first-child {
    //     margin-left: 0;
    //   }
    // }
    // .react-bootstrap-table-pagination {
    //   .react-bootstrap-table-pagination-wrapper {
    //     float: right;
    //     display: flex;
    //     justify-content: flex-end;
    //     align-items: center;
    //     .react-pagination-dropdown-text {
    //       font-weight: bold;
    //       padding: 0 5px;
    //     }
    //     .react-bootstrap-table-pagination-total {
    //       font-weight: bold;
    //       padding: 7px 7px;
    //       text-align: center;
    //       width: 205px;
    //     }
    //     .react-bootstrap-table-pagination-dropdown {
    //       margin: 5px 0;
    //       width: 155px;
    //       .dropdown-open {
    //         display: inline !important;
    //       }
    //       .btn {
    //         border: 1px solid #999999;
    //         border-bottom: 3px solid #000;
    //         color: #000;
    //         font-weight: bold;
    //         width: 50px;
    //         span {
    //           margin: 0 2px;
    //         }
    //         .fa {
    //           font-weight: bold;
    //         }
    //       }
    //       .dropdown-menu {
    //         min-width: 50px;
    //         margin-top: 7px;
    //         a {
    //           text-align: center;
    //           padding: 3px 11px;
    //           border: none;
    //         }
    //       }
    //     }
    //     .react-bootstrap-table-pagination-list {
    //       width: 275px;
    //       display: flex;
    //       justify-content: center;
    //       border-left: 1px solid #ccc;
    //       border-right: 1px solid #ccc;
    //       .pagination {
    //         float: none;
    //         li {
    //           &.active {
    //             a {
    //               background-color: #000;
    //               color: #fff;
    //             }
    //           }
    //           a {
    //             background-color: transparent;
    //             border-radius: 15px;
    //             font-weight: bold;
    //             padding: 15px;
    //             height: 25px;
    //             width: 25px;
    //             color: #000;
    //             border: none;
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //           }
    //         }
    //       }
    //     }
    //   }
    // }
    .react-bootstrap-table {
      table {
        border-top: 2px solid #000;
        margin-bottom: 0;
        thead {
          th {
            background-color: #fff;
            border: none;
            .react-bootstrap-table-sort-order {
              top: 5px;
            }
            .order {
              position: relative;
              top: 2px;
              font-size: 12px;
            }
            .caret {
              border-width: 3.4px !important;
              margin-top: 7px !important;
            }
          }
        }
        tbody {
          max-height: 185px;
          overflow: auto;
          tr {
            &:last-child {
              td {
                &:first-child {
                  border-bottom-left-radius: 4px;
                }
                &:last-child {
                  border-bottom-right-radius: 4px;
                }
              }
            }
          }
        }
        th {
          padding: 5px;
          vertical-align: middle; // height: 40px;
          &.snapshot-table-header-cell {
            width: 100px;
          }
          &.ipaddress-table-header-cell {
            width: 100px;
          }
          &.timestamp-table-header-cell {
            width: 120px;
          }
          &.checksum-table-header-cell {
            width: 100px;
          }
          &.size-table-header-cell {
            width: 60px;
          }
          &.snapshot-table-header-cell {
            width: 100px;
          }
          &.actions-table-header-cell {
            width: 80px;
          }
          &:first-child {
            border-top-left-radius: 4px;
          }
          &:last-child {
            border-top-right-radius: 4px;
            text-align: center;
          }
        }
        td {
          border-left: none;
          border-right: none; // word-break: break-all;
          font-size: 12px; // padding: 5px;
          vertical-align: middle;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap; // height: 40px;
          &.snapshot-table-cell {
            color: #3A9DF4;
            width: 120px;
          }
          &.ipaddress-table-cell {
            width: 120px;
          }
          &.timestamp-table-cell {
            width: 140px;
          }
          &.checksum-table-cell {
            width: 120px;
          }
          &.size-table-cell {
            width: 50px;
          }
          &.snapshot-table-cell {
            width: 120px;
          }
          &.actions-table-cell {
            width: 80px;
          }
          &:last-child {
            text-align: center;
          }
        }
        .selection-row {
          background-color: #F1F1F1;
        }
        .expanding-row {
          >td {
            padding: 0 !important;
            border-left: none;
            border-right: none;
            .react-bootstrap-table {
              margin-top: -1px;
              margin-right: -1px;
              margin-bottom: -1px;
              margin-left: -1px;
              padding-left: 60px;
              table {
                margin-bottom: 0;
                border-left: none;
                border-right: none;
                thead {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

// button themes
.btn-icon {
  padding: 0 8px;
  border: none;
}

// black button
.black-button {
  background-color: black;
  color: white;
  border-radius: 15px;
  margin-left: 5px;
  font-size: 12px;
  &:hover {
    color: white;
  }
  &:focus {
    color: white;
  }
  &--medium {
    font-size: 16px;
    padding: 4px 20px;
  }
  &[disabled] {
    background-color: #666666;
  }
}

// white button
.white-button {
  background-color: white;
  color: black;
  border: 0.5px solid black;
  border-radius: 15px;
  margin-left: 5px;
  font-size: 12px;
  &:hover {
    color: black;
  }
  &:focus {
    color: black;
  }
  &--medium {
    font-size: 16px;
    padding: 4px 20px;
  }
  &[disabled] {
    background-color: #aaaaaa;
  }
}

// panel-white
.panel-white {
  margin: -1.2rem;
  width: 700px;
}

.btn-action {
  background-color: transparent;
  color: #999999;
  padding: 0;
  &:hover {
    color: rgb(15, 15, 15);
  }
  &:focus {
    color: rgb(22, 22, 22);
  }
}

//search functionality 
input.form-control.config-search {
  border-radius: 4px !important;
}

.react-bs-table-no-data {
  /* padding: 10px 10px 2px 2px; */
  background: #ededed;
  /* width: 20px; */
  /* width: 10px !important; */
  /* border: 55px solid red; */
  font-weight: bold;
}

//table responsive
// table.table.table-bordered {
//   width: auto;
// }
.actionSpan {
  width: 32px !important; // height: 32px !important;
  margin-top: -5px;
  margin-left: 5px;
}

div.actionSpan:hover {
  border: 1px #d2d3d3 solid !important;
  background: #d8dada;
}

.fa_custom {
  color: #C0C0C0
}

// .noActionSpan .fa.fa-ellipsis-v:hover {
//   color: #C0C0C0;
// }
button.btn.btn-default.sortby-reset.table-reset-button {
  float: right;
  margin-left: 4px;
  height: 30px;
}