.react-tabs {
  -webkit-tap-highlight-color: transparent;
  border: 1px solid #ccc;
  background: #fff;
  margin-left: -10px;
  margin-right: -10px;
  border-radius: 5px;
  font-weight: bold;
  &::after {
    display: block;
    content: "";
    clear: both;
  }
  &__tab-list {
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px;
    padding: 0;
    background-color: #F1F1F1;
    border-top-right-radius: 5px;
  }
  &__tab {
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: none;
    bottom: -1px;
    margin-top: -3px;
    margin-left: -1px;
    position: relative;
    list-style: none;
    padding: 12px 25px;;
    cursor: pointer;
    border-top-left-radius: 5px;
    &--selected {
      background: #fff;
      border-color: #ccc;
      border-top-width: 2px;
      border-top-color: #CD2020;
      color: #CD2020;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    &--disabled {
      color: GrayText;
      cursor: default;
    }
    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;
      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }
  &__tab-panel {
    display: none;
    &--selected {
      display: block;
    }
  }
}