// variables.scc
@toastrWidth: 350px;
@successBgColor: #60bb71;
@infoBgColor: #58abc3;
@warningBgColor: #f7a336;
@errorBgColor: #db6a64;
@defaultSpace: 10px;
// animation.scss
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  &.bounceIn {
    animation-duration: .7s;
  }
  &.bounceOut {
    animation-duration: .5s;
  }
  &.bounceIn {
    animation-name: bounceIn;
  }
  &.bounceOut {
    animation-name: bounceOut;
  }
  &.fadeIn {
    animation-name: fadeIn;
    animation-duration: .7s;
  }
  &.fadeOut {
    animation-name: fadeOut;
    animation-duration: .3s;
  }
  &.bounceInDown {
    animation-name: bounceInDown;
  }
  &.bounceOutUp {
    animation-name: bounceOutUp;
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: perspective(1px) scale3d(.3, .3, .3);
  }
  20% {
    transform: perspective(1px) scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: perspective(1px) scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    transform: perspective(1px) scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: perspective(1px) scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    transform: perspective(1px) scale3d(1, 1, 1);
  }
}

@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9);
  }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

// confirm
.rrt-confirm-holder {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  .shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(50, 58, 68, .8);
  }
  .rrt-confirm {
    width: 320px;
    background-color: white;
    position: absolute;
    z-index: 9;
    top: 20%;
    left: 50%;
    margin-left: -160px;
    box-shadow: 3px 3px 20px #333;
    border-radius: 4px;
    overflow: hidden;
    .rrt-message {
      width: 100%;
      padding: 5%;
      min-height: 50px;
      font-size: 1em;
      background-color: white;
      text-align: center;
      font-family: 'open-sanscondensed-light', sans-serif;
      clear: both;
    }
    .rrt-buttons-holder {
      display: flex;
      .rrt-button {
        flex-grow: 1;
        height: 50px;
        text-transform: capitalize;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        float: left;
        border-top: 1px solid #f0f0f0;
        font-size: 14px;
        overflow: hidden;
        cursor: pointer;
        &:hover {
          background-color: #f5f5f5;
        }
        &.rrt-ok-btn {
          &:active {
            background-color: @successBgColor;
            color: white;
          }
        }
        &.rrt-cancel-btn {
          &:active {
            background-color: @errorBgColor;
            color: white;
          }
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

// react-redux-toastr
body.toastr-confirm-active {
  overflow: hidden;
}

.redux-toastr {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  .top-left,
  .top-right,
  .top-center,
  .bottom-left,
  .bottom-right,
  .bottom-center {
    width: @toastrWidth;
    position: fixed;
    z-index: 99999999;
    padding: 0 @defaultSpace;
  }
  .top-left,
  .top-right,
  .top-center {
    top: 0;
  }
  .top-right,
  .bottom-right {
    right: 0;
  }
  .bottom-left,
  .bottom-right,
  .bottom-center {
    bottom: 0;
  }
  .top-left,
  .bottom-left {
    left: 0;
  }
  .top-center,
  .bottom-center {
    left: 50%;
    margin-left: -(@toastrWidth / 2);
  }
  @media (max-width: 320px) {
    .top-left,
    .top-right,
    .top-center,
    .bottom-left,
    .bottom-right,
    .bottom-center {
      width: @toastrWidth - 30;
    }
    .top-center,
    .bottom-center {
      width: @toastrWidth - 30;
      margin-left: -(@toastrWidth / 2);
    }
  }
  .toastr {
    background-color: #fcfcfc;
    width: 100%;
    min-height: 70px;
    overflow: hidden;
    margin: @defaultSpace 0;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    color: #333;
    opacity: .94;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    &:hover:not(.rrt-message) {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
      opacity: 1;
    }
    .toastr-status {
      width: 100%;
      height: 5px;
      &.success {
        background-color: @successBgColor;
      }
      &.warning {
        background-color: @warningBgColor;
      }
      &.info {
        background-color: @infoBgColor;
      }
      &.error {
        background-color: @errorBgColor;
      }
    }
    .rrt-left-container,
    .rrt-right-container {
      float: left;
      text-align: center;
      overflow: hidden;
    }
    .rrt-left-container {
      width: 10%;
      height: 100%;
      position: relative;
      left: 5px;
      top: 20px;
      bottom: 0;
      .toastr-icon {
        fill: white;
        vertical-align: middle;
      }
    }
    .rrt-middle-container {
      width: 76%;
      height: 100%;
      margin-left: 10px;
      position: relative;
      float: left;
      font-family: Arial, Helvetica, sans-serif, sans-serif;
      font-size: 1em;
      text-align: left;
      padding: 10px 5px;
      .rrt-title {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
    .rrt-right-container {
      width: 10%;
    }
    .close-toastr {
      width: 10%;
      height: 100%;
      background-color: transparent;
      font-size: 18px;
      border: none;
      outline: none;
      opacity: 0.9;
      cursor: pointer;
      font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
      &:hover {
        opacity: 1;
      }
      &:focus {
        outline: none;
      }
    }
    &.rrt-info,
    &.rrt-success,
    &.rrt-warning,
    &.rrt-error {
      color: white;
    }
    &.rrt-info {
      background-color: @infoBgColor;
      .rrt-progressbar {
        background-color: darken(@infoBgColor, 15%);
      }
    }
    &.rrt-success {
      background-color: @successBgColor;
      .rrt-progressbar {
        background-color: darken(@successBgColor, 15%);
      }
    }
    &.rrt-warning {
      background-color: @warningBgColor;
      .rrt-progressbar {
        background-color: darken(@warningBgColor, 15%);
      }
    }
    &.rrt-error {
      background-color: @errorBgColor;
      .rrt-progressbar {
        background-color: darken(@errorBgColor, 15%);
      }
    }
    &.rrt-light {
      .rrt-progressbar {
        background-color: #ccc;
      }
      .toastr-icon {
        fill: #333 !important;
      }
    }
    &.rrt-message {
      opacity: 1;
      border: 1px solid #dbdbdb;
      .rrt-title {
        width: 90%;
        height: 50px;
        text-align: left;
        overflow: hidden;
        font-size: 1.2em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 50px;
        padding: 0 20px;
      }
      .rrt-text {
        width: 100%;
        max-height: 400px;
        overflow: hidden;
        overflow-y: auto;
        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        background-color: white;
        padding: 15px;
        font-size: 1.1em;
        margin-bottom: 20px;
        text-align: left;
        img {
          display: block;
          margin: 10px auto;
          max-width: 100%;
        }
      }
      .close-toastr {}
    }
    .rrt-progress-container {
      height: 5px;
      margin: 0 -20px -20px -60px;
      position: absolute;
      bottom: 20px;
      width: 100%;
      .rrt-progressbar {
        -webkit-border-radius: 0 0 0 4px;
        -moz-border-radius: 0 0 0 4px;
        border-radius: 0 0 0 4px;
        height: 100%;
      }
    }
  }
  .toastr-attention {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
}