@import "../less/bootstrap-less/tooltip.less";
@import "./containers/ConfigManagement/index.less";
.body {
  font-family: 'Open Sans', sans-serif;
}

html {
  overflow: auto;
}

body {
  background: #ecf0f5;
}

.content-wrapper {
  min-height: auto;
  padding-bottom: 15px;
}

.breadcrumb-wrapper {
  .breadcrumb {
    margin: 0;
    padding-top: 10px;
    margin-bottom: 15px;
  }
}

.component-wrapper {
  margin: 16px;
  margin-bottom: -1px;
}

table {
  thead {
    >tr {
      background: #ebebeb;
    }
  }
  tr>td {
    height: 49px;
  }
}

.clearBtn {
  border: none;
}

.modal-open {
  display: block; //box-shadow: 5px 5px 5px 0 rgba(0,0,0,.25);
  background: rgba(0, 0, 0, 0.3); // background: @gray-lte;
  //padding: 15px 55px 0px 15px;
}

//modal-body
.activity-modal {
  display: flex; //flex-wrap: wrap;
  flex-direction: column;
  padding: 15px 55px 0px 15px; // padding: 15px 55px;
}

// .activity-modal{
//     // display: flex;
//     flex-wrap: wrap;
//     flex-direction: column;
//     flex-direction: row;
//     padding: 15px 40px;
//     box-shadow: 5px 5px 5px 0 rgba(0,0,0,.25);
// }
.json-container {
  max-height: 100px;
  overflow: scroll;
  border: 1px solid @gray-lte;
  border-radius: 4px;
  margin: 0 20px;
}

// .Loader{
// 	z-index:1045;
// 	position:absolute;
// }
// .Loader_Background {
//     display: block;
//     position: fixed;
//     top: 0px;
//     height: 100%;
//     background-color: #fff;
//     opacity: 0.8;
//     width: 100%;
// }
// .Loader_gif{
//     position:fixed;
//     top:48%;
//     left:50%;
// }
// .hideLoader {
//     display: none;
// }
.react-bootstrap-table-pagination {
  display: inline-block;
  width: 100%;
}

.react-bs-table-sizePerPage-dropdown .btn {
  padding: 3px 6px;
}

.react-bs-table-sizePerPage-dropdown .btn span {
  margin: 0 5px;
}

.react-bootstrap-table-pagination .pagination {
  margin: 3px 0;
}

.react-bootstrap-table-pagination .react-bootstrap-table-pagination-list .pagination {
  float: right;
}

.react-bootstrap-table-pagination .react-bootstrap-table-pagination-list .pagination a {
  padding: 3px 6px;
  color: #428bca;
}

.react-bootstrap-table-pagination .react-bootstrap-table-pagination-list .pagination .active a,
.react-bootstrap-table-pagination .react-bootstrap-table-pagination-list .pagination a:hover {
  color: #fff;
  border-color: #d7d7d7;
  background-color: #d7d7d7;
}

.auditTable-searchBox {
  .form-control {
    border: 1px solid #b7b7b7;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    &:focus {
      border: 1px solid #b7b7b7;
    }
  }
  .searchBtn {
    background-color: #fff;
    border: 1px solid #b7b7b7;
    .searchIcon {
      color: #848992;
    }
  }
  .clearBtn {
    background-color: #fff;
    border: 1px solid #b7b7b7;
    border-left-width: 0px;
  }
}

.input-group {
  width: 50%;
}

.heading-text {
  color: #707070;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
  line-height: 2.8; // text-transform: uppercase;
  // padding-bottom: 10px;
}

.auditTable {
  border-collapse: collapse;
  thead {
    tr {
      background-color: transparent;
      th {
        padding: 7px 15px;
        word-wrap: break-word;
        color: #8a8a8a;
        font-weight: normal;
        vertical-align: middle;
        background-color: #ebebeb;
        &:first-child {
          border-top-left-radius: 6px;
        }
        &:last-child {
          border-top-right-radius: 6px;
        }
      }
    }
  }
  tbody {
    tr>td {
      padding: 7px 15px;
      word-wrap: break-word;
      padding-top: 15px;
      padding-bottom: 15px;
      .audit-link {
        color: #848992;
        padding: 0 10px;
      }
    }
  }
}

.react-bootstrap-table th .order>.dropdown>.caret {
  color: #707070;
  border-width: 5px;
  position: absolute;
  top: 0px;
}

.react-bootstrap-table th .order>.dropup>.caret {
  color: #707070;
  border-width: 5px;
  position: absolute;
  bottom: 0;
  left: 5px;
}

.react-bootstrap-table th>.react-bootstrap-table-sort-order {
  position: relative;
}

.react-bootstrap-table th .react-bootstrap-table-sort-order>.caret {
  color: #707070;
  border-width: 5px;
  position: absolute;
  top: -4px;
  left: 0;
}

// React Maps    // Staistics table
.smallMap {
  .mapStat {
    display: none !important;
  }
}

.popupTitle {
  font-weight: bold;
}
// .mapStat {
//   border: 0 !important;
//   background-color: #ffffff;
//   //padding: 0 10px;
//   //padding: 5px 10px 0px 20px;
//   //padding: 5px 0px 0px 10px;
//   padding: 5px 0px 5px 10px;
//   width: 170px;
//   font-size: 14px;
//   box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3) !important;
//   .table {
//     margin-bottom: 0;
//     td {
//       vertical-align: middle;
//       &:last-child {
//         text-align: center;
//       }
//     }
//   }
//   &.statHide {
//     display: none !important;
//   }
//   .statSeparator {
//     padding: 0 5px;
//   }
//   background-color: #ffffff;
//   .borderless td,
//   .borderless th {
//     font-weight: 400;
//     border: none;
//     padding: 0;
//   }
// }
.mapStat {
  border: 0 !important;
  padding: 15px 0px 15px 15px;
  width: 250px;
  font-size: 15px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3) !important;
  background-color: #ffffff;
  margin-left: 25%;
  height: auto;
  margin-bottom: 20%;
  .table {
    margin-bottom: 0;
    td {
      vertical-align: middle;
      &:last-child {
        text-align: center;
      }
    }
  }
  &.statHide {
    display: none !important;
  }
  .statSeparator {
    padding: 0 5px;
  }
  background-color: #ffffff;
  .borderless td,
  .borderless th {
    font-weight: 400;
    border: none;
    padding: 0;
  }
}

// .statDetails{
//   background-color: #2196f3;
//   padding: 2px 10px 4px 10px;
//   border-radius: 10px;
//   color: #fff;
//   //text-decoration-color: #ffffff;
//   //border: 1px solid #333;
//   //border-width: 60%;
//   //padding: 12px 30px 0px 9px;
// }
// // .statName{
// //   font-weight: bold;
// // }
// .first-letter{
//   text-transform: uppercase;
//   letter-spacing: 5px;
// }
// .mapContainer .smallMap {
//   height: 90% !important;
// }
.mapContainer {
  height: 490px; // max-height: 500px;
  width: 100%; // overflow: hidden;
  position: relative; // Large map
  .mapWrapper {
    height: 100%;
  }
  .map {
    height: 103%;
  }
  .vms-hostname {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }
  .largeMap {
    height: 87%;
    .leaflet-container {
      .leaflet-bottom {
        bottom: 40px;
      }
    }
    .statDetails {
      background-color: #2196f3;
      padding: 2px 10px 4px 10px;
      border-radius: 10px;
      color: #fff; //text-decoration-color: #ffffff;
      //border: 1px solid #333;
      //border-width: 60%;
      //padding: 12px 30px 0px 9px;
    } // .statName{
    //   line-height: 0;
    //   text-transform: lowercase;
    // }
    .statName::first-letter {
      text-transform: uppercase;
    }
    .clusterHoverPopup {
      .leaflet-popup-content-wrapper {
        padding: 0 !important;
        background-color: transparent !important;
        .leaflet-popup-content {
          width: 200px !important;
          margin: 0 !important;
          .tableWrapper {
            max-height: 120px !important;
            overflow-y: auto;
            border-bottom-left-radius: 6px !important;
            border-bottom-right-radius: 6px !important;
            background-color: #ffffff;
          }
          .deploy-popup-title {
            background-color: #e9e9e9;
            padding: 8px 10px;
            margin: 0;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            text-align: center;
            font-weight: bold;
          }
          .table {
            margin-bottom: 0 !important;
          }
          .table>tbody {
            tr {
              td {
                &:first-child {
                  text-align: center;
                }
                padding: 3px;
                vertical-align: middle;
                word-wrap: break-word;
                word-break: break-all;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  } // Small Map
  .smallMap {
    // .leaflet-container {}
    height: 87% !important;
    .clusterHoverPopup {
      .leaflet-popup-content-wrapper {
        padding: 0 !important;
        .leaflet-popup-content {
          width: 150px !important;
          margin: 0 !important;
          .tableWrapper {
            max-height: 120px !important;
            overflow-y: auto;
            border-bottom-left-radius: 6px !important;
            border-bottom-right-radius: 6px !important;
            background-color: #ffffff;
          }
          .deploy-popup-title {
            background-color: #e9e9e9;
            padding: 8px 10px;
            margin: 0;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            text-align: center;
            font-weight: bold;
          }
          .table {
            margin-bottom: 0 !important;
          }
          .table>tbody {
            tr {
              td {
                &:first-child {
                  text-align: center;
                }
                padding: 3px;
                vertical-align: middle;
                word-wrap: break-word;
                word-break: break-all;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
  .table-curved {
    border-collapse: separate;
    border-radius: 6px;
    border-left: 0px;
    td,
    th {
      border-left: 0px !important;
    }
    th {
      border-top: none;
    }
    th:first-child {
      border-radius: 6px 0 0 0;
    }
    th:last-child {
      border-radius: 0 6px 0 0;
    }
    th:only-child {
      border-radius: 6px 6px 0 0;
    }
    tr:last-child td:first-child {
      border-radius: 0 0 0 6px;
    }
    tr:last-child td:last-child {
      border-radius: 0 0 6px 0;
    }
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #adadadcc;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
  } // .hiddenMap {
  //   .leaflet-popup-content {}
  // }
  .mapHeader {
    background-color: #ffffff; // padding: 8px 10px;
    padding: 12px 15px 12px;
    display: inline-block;
    width: 100%;
  }
  .mapHeader .minimizeIcon {
    position: relative;
  }
  .mapTitle {
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
  }
  .mapControls .btn {
    padding: 2px 4px;
  }
  .mapWrapper {
    background-color: #ffffff;
    padding-top: 0;
    margin-top: -5px;
    margin-left: -4px;
    margin-right: -4px;
  }
  .mapControl.btn i {
    font-size: 12px;
  }
  .mapControl.btn {
    border-radius: 3px;
    padding: 9px;
    line-height: 1px;
    color: #333;
    background-color: #fff;
    border-color: #ccc; // border: none;
    // border-radius: 0;
    // padding: 6px;
    // line-height: 1px;
    // color: #333;
    // background-color: #fff;
    // border-color: #ccc;
  }
  .mapControl.btn:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }
  .mapControl.btn:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  .mapControl.btn:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  /* mapModal */
  .mapModal {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 999;
    left: 10px;
    bottom: 100px;
    .mapModalHeader {
      padding-top: 5px;
      padding-right: 5px;
      display: inline-block;
      width: 100%;
    }
    .mapModalBody {
      padding: 10px;
      padding-top: 0;
    }
  } // leaflet map stamp 
  .leaflet-control-attribution.leaflet-control {
    visibility: hidden;
  }
  /* custom map marker */
  .leaflet-div-icon {
    background: none !important;
    border: none !important;
  }
  .svg-marker {
    position: relative;
    border-radius: 50%;
    .svg-text {
      position: absolute;
      top: 6px;
      left: 30%;
      color: #fff;
      font-size: 18px;
    }
  }
  .red-marker {
    background-color: rgb(2, 88, 2);
    padding: 10px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    text-align: center;
    .marker-left {
      width: 50%;
      background-color: transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
    .marker-right {
      width: 50%;
      background-color: transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
    }
    .marker-text {
      color: #ffffff;
      font-size: 16px;
      position: absolute;
      top: 8px;
      left: 16px;
      z-index: 1;
    }
  }
  .blue-marker {
    background-color: #2196f3;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    text-align: center;
    .marker-left {
      width: 50%;
      background-color: transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
    .marker-right {
      width: 50%;
      background-color: transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
    }
    .marker-text {
      color: #ffffff;
      font-size: 16px;
      position: absolute;
      top: 8px;
      left: 16px;
      z-index: 1;
    }
  }
  .map-settings {
    border-radius: 12px;
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 50px;
    width: 220px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3) !important;
    .settingsIcon {}
    .resetIcon {}
    .arrow-up {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      position: absolute;
      top: -10px;
      right: 22px;
    }
    .table td:last-child {
      width: 200px;
    }
    .borderless td,
    .borderless th {
      font-weight: 350px;
      border: none; // padding: 0;
      vertical-align: middle;
      padding: 0px 2px 5px 0px; //padding: 6px 0 2px;
      //padding: 4px 5px 3px 2px;
      //padding: 6px 5px 2px 0px;
    }
    .controlWrapper .btn {
      float: right;
      margin-left: 5px;
      padding: 5px 12px;
      font-size: 14px;
      font-weight: 600;
    }
  }
  .control-label {
    white-space: nowrap;
    width: 90px;
  } // .mapContainer .map-settings .borderless td .mapContainer .map-settings .borderless th {
  //   font-weight: 350px;
  //   border: none;
  //   padding: 0;
  //   vertical-align: middle;
  //   padding: 6px 0 2px;
  // }
  .modal {
    z-index: 9999;
    .modal-dialog {
      margin: 100px auto !important;
      .modal-body {
        min-height: 300px !important;
        .reactSelect {
          width: 150px;
          float: left;
          margin: 0 10px;
        }
      }
    }
    @media (min-width: 768px) {
      .modal-dialog {
        width: 700px;
      }
    }
  }
} //Tool Tip
.rc-tooltip-content {
  .rc-tooltip-inner {
    color: @white;
    background: @black;
    border: 1px solid @black;
  }
}

.rc-tooltip-placement-left {
  .rc-tooltip-arrow {
    border-left-color: @black;
  }
}

.rc-tooltip-placement-right {
  .rc-tooltip-arrow {
    border-right-color: @black;
  }
}

.rc-tooltip-placement-top {
  .rc-tooltip-arrow {
    border-top-color: @black;
  }
}

.rc-tooltip-placement-bottom {
  .rc-tooltip-arrow {
    border-bottom-color: @black;
  }
} // .dropdown-menu > li > a {
//     border: 1px solid#ebebeb;
// }
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 499;
  /* was 1000 */
  pointer-events: none;
}

//Leaflet css
.leaflet-container a.leaflet-popup-close-button {
  padding: 12px 30px 0px 9px;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.project-table-title {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 0;
}

.create-project-btn {
  background-color: black;
  color: #fff;
  border-radius: 15px;
}

.projectTableBtn i {
  font-size: 12px;
}

.projectTableBtn {
  border-radius: 3px;
  padding: 9px;
  line-height: 1px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
}

.projectTableBtn:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.projectTableBtn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.projectTableBtn:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.project-table-panel {
  .react-bootstrap-table {
    .projectTable {
      tbody {
        height: 185px;
      }
      .order {
        position: relative;
        top: 2px;
      }
      .caret {
        border-width: 3.6px !important;
        margin-top: 7px !important;
      }
    }
  }
  .react-bootstrap-table-pagination {
    .react-bootstrap-table-pagination-wrapper {
      float: right;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .react-pagination-dropdown-text {
        font-weight: bold;
        padding: 0 5px;
      }
      .react-bootstrap-table-pagination-total {
        font-weight: bold;
        padding: 7px 7px;
        text-align: center;
        width: 205px;
      }
      .react-bootstrap-table-pagination-dropdown {
        margin: 5px 0;
        width: 155px;
        .dropdown-open {
          display: inline !important;
        }
        .btn {
          border: 1px solid #999999;
          border-bottom: 3px solid #000;
          color: #000;
          font-weight: bold;
          width: 50px;
          span {
            margin: 0 2px;
          }
          .fa {
            font-weight: bold;
          }
        }
        .dropdown-menu {
          min-width: 50px;
          margin-top: 7px;
          a {
            text-align: center;
            padding: 3px 11px;
            border: none;
          }
        }
      }
      .react-bootstrap-table-pagination-list {
        width: 275px;
        display: flex;
        justify-content: center;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        .pagination {
          float: none;
          li {
            &.active {
              a {
                background-color: #000;
                color: #fff;
              }
            }
            a {
              background-color: transparent;
              border-radius: 15px;
              font-weight: bold;
              padding: 15px;
              height: 25px;
              width: 25px;
              color: #000;
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

// Day X Project Widget 
.projectTable {
  td {
    overflow: hidden;
    white-space: nowrap;
  }
  thead {
    tr {
      background: transparent;
      th {
        color: #000;
        font-weight: bold;
        font-size: 12px;
        border-top: 1px solid #ddd !important;
        &:last-child {
          text-align: center;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
        .status-label {
          font-size: 12px;
        }
        .table-cell-link {
          color: #337ab7;
          text-decoration: underline;
        }
        &:last-child {
          text-align: center;
        }
      }
    }
  }
}

.projectTable-searchBox {
  width: 100%; // margin-left: 100%;
  .form-control {
    // margin-left: 7%;
    border: 1px solid #b7b7b7;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    &:focus {
      border: 1px solid #b7b7b7;
    }
  }
  .searchBtn {
    background-color: #fff;
    border: 1px solid #b7b7b7;
    .searchIcon {
      color: #848992;
    }
  }
  .clearBtn {
    background-color: #fff;
    border: 1px solid #b7b7b7;
    border-left-width: 0px;
  }
}

// .panel-body {
// border-top: 3px solid;
// border-top-left-radius: 2px;
// border-top-right-radius: 2px;
//     height: 377px;
// }
.panel.panel-default.project-table-panel.component-wrapper.no-margin {
  border-top: 3px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mapPanelContainer {
  .panel-body {
    height: 100%;
  }
}

.panel-widget {
  border-top: 3px solid #000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  .panel-heading {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    .panel-title {
      color: black;
      font-weight: bold;
    }
    .widget-search {
      width: 100%;
      .form-control {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right: none;
        &:focus {
          border: 1px solid #ccc;
          border-right: none;
        }
      }
      .input-group-addon {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: none;
        color: black;
      }
    }
    .controls-wrapper {
      >div {
        margin-left: 5px;
      }
    }
  }
  &.panel-maximize {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 9999;
    width: 100%;
    overflow: auto;
    height: 100%;
    .mapContainer {
      width: 100%;
      height: 100%;
    }
  }
  &.panel-minimize {
    position: relative;
    overflow: hidden;
    .panel-body {
      width: 0;
      height: 0;
      padding: 0;
    }
  }
}

.project-table-widget {
  .panel-body {
    min-height: 380px;
  }
  tbody {
    position: relative;
  }
  .noResultsWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .noResultsText {
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.05);
      color: #000;
    }
  }
  &.panel-maximize.page-size-dropdown-open {
    .react-bootstrap-table-pagination-wrapper {
      margin-bottom: 110px;
    }
  }
  .react-bootstrap-table-pagination-dropdown {
    position: relative;
    .react-bs-table-sizePerPage-dropdown {
      position: absolute;
      left: 45px;
      top: -4px;
    }
  }
  .react-pagination-dropdown-text {
    margin-left: 50px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.loadingModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-black,
.activity-blue {
  width: 20px;
  position: relative;
  right: 10px;
  bottom: 5px;
}

.status-bar .info-box-icon {
  background: transparent;
  height: 36px;
  width: 20%;
  line-height: 50px;
}

.status-bar .status-bar-image {
  padding: 7px;
  top: -5px;
  position: relative;
  height: 100%;
}

.status-bar .info-box-content {
  margin-left: 0;
  height: 50px;
  width: 80%;
  line-height: 50px;
  padding: 0;
  padding-right: 15px;
  float: left;
}

.status-bar .info-box-text {
  float: left;
  width: 80%;
}

.status-bar .info-box-number {
  float: right;
  width: 20%;
  text-align: right;
}

.status-bar .info-box {
  min-height: 50px;
  border-top: 3px solid;
}

.status-bar-projects .info-box {
  border-color: #ff751a;
}

.status-bar-vnfs .info-box {
  border-color: #ffbb33;
}

.status-bar-vms .info-box {
  border-color: #30b2cc;
}

.status-bar-sites .info-box {
  border-color: #3f84c1;
}

.status-bar-users .info-box {
  border-color: #009900;
}

.status-bar-projects .info-box-number {
  color: #ff751a;
}

.status-bar-vnfs .info-box-number {
  color: #ffbb33;
}

.status-bar-vms .info-box-number {
  color: #30b2cc;
}

.status-bar-sites .info-box-number {
  color: #3f84c1;
}

.status-bar-users .info-box-number {
  color: #009900;
}

// react-calendar-widget
.react-calendar-widget {
  width: 100% !important;
}

.calendar-wrapper {
  position: relative;
}

.panel-widget {
  .calendar-modal-overlay {
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    .btn-modal-close {
      background-color: transparent;
      color: #fff;
      font-size: 24px;
      top: 0;
      right: 0;
      position: absolute;
      padding: 0;
    }
    .calendar-modal {
      .calendar-modal-body {
        display: flex;
        align-items: center;
        justify-content: center;
        .react-bootstrap-table {
          &::-webkit-scrollbar {
            width: 12px;
          }
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 10px;
            border-radius: 10px;
          }
          /* Handle */
          &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #adadadcc;
          }
          &::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(255, 0, 0, 0.4);
          }
          .table {
            margin: 0;
            thead {
              tr {
                display: block;
                th {
                  width: 20%;
                }
              }
            }
            tbody {
              display: block;
              overflow: hidden;
              overflow-y: auto;
              max-height: 250px;
              tr {
                // td {
                //   &:nth-child(1) {
                //     width: 20%;
                //   }
                // }
              }
            }
          } // .table {
          //   margin: 0;
          //   width: 100%;
          //   tbody {
          //     max-height: 250px;
          //     overflow-y: auto;
          //     width: 100%;
          //   }
          //   thead,
          //   tbody,
          //   tr,
          //   td,
          //   th {
          //     display: block;
          //   }
          //   tbody {
          //     td {
          //       float: left;
          //       width: 20%;
          //     }
          //   }
          //   thead {
          //     tr {
          //       th {
          //         float: left;
          //         width: 20%;
          //       }
          //     }
          //   }
          // }
        }
      }
    }
  }
  &.panel-maximize {
    .calendar-wrapper {
      height: 100%;
    }
    .calendar-modal-overlay {
      padding: 50px 200px;
      .react-bootstrap-table {
        &::-webkit-scrollbar {
          width: 12px;
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          -webkit-border-radius: 10px;
          border-radius: 10px;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
          -webkit-border-radius: 10px;
          border-radius: 10px;
          background: #adadadcc;
        }
        &::-webkit-scrollbar-thumb:window-inactive {
          background: rgba(255, 0, 0, 0.4);
        }
        .table {
          margin: 0;
          thead {
            tr {
              display: block;
              th {
                display: block;
                float: left;
                background-color: #ebebeb;
                &:nth-child(1) {
                  width: 20%;
                }
                &:nth-child(2) {
                  width: 20%;
                }
                &:nth-child(3) {
                  width: 20%;
                }
                &:nth-child(4) {
                  width: 20%;
                }
                &:nth-child(5) {
                  width: 20%;
                }
              }
            }
          }
          tbody {
            display: block;
            overflow: hidden;
            overflow-y: auto;
            max-height: 500px;
            tr {
              display: block;
              width: 100%;
              td {
                display: block;
                float: left;
                &:nth-child(1) {
                  width: 20%;
                }
                &:nth-child(2) {
                  width: 20%;
                }
                &:nth-child(3) {
                  width: 20%;
                }
                &:nth-child(4) {
                  width: 20%;
                }
                &:nth-child(5) {
                  width: 20%;
                }
              }
            }
          }
        } // max-height: 500px;
        // overflow: hidden;
        // overflow-y: auto;
        // .table {
        //   margin: 0;
        //   width: 100%;
        //   tbody {
        //     max-height: 250px;
        //     overflow-y: auto;
        //     width: 100%;
        //   }
        //   thead,
        //   tbody,
        //   tr,
        //   td,
        //   th {
        //     display: block;
        //   }
        //   tbody {
        //     td {
        //       float: left;
        //     }
        //   }
        //   thead {
        //     tr {
        //       th {
        //         float: left;
        //       }
        //     }
        //   }
        // }
      }
    }
    .DayPicker-Day {
      height: 80px;
      width: 120px;
    }
    .DayPicker-Day__cellStyle {
      width: 60px;
      height: 60px;
      max-width: 60px;
      display: table-cell;
      vertical-align: middle;
    }
    .DayPicker-Weekdays .DayPicker-Weekday {
      padding: 10px 30px;
      text-align: left;
    }
    .DayPicker .DayPicker-Caption>div {
      padding-left: 24px;
    }
    .DayPicker .DayPicker-NavButton {
      right: 78px;
    }
  }
}

.calendar-widget {
  .panel-body {
    position: relative;
    .calendar-table-wrapper {
      border-radius: 5px;
      overflow: hidden;
      background-color: #fff;
    }
  }
}

.calendar-wrapper {
  height: 400px;
  background-color: #ffffff;
  text-align: center;
}

// react-day-picker
.DayPicker {
  .DayPicker-Caption {
    >div {
      font-weight: bold;
      color: #000;
    }
  }
  .DayPicker-Weekday {
    font-weight: bold;
    color: #000;
  }
  .DayPicker-Day:hover {
    background-color: transparent !important;
  }
  .DayPicker-Day__cellStyle:hover {
    background-color: #d2dbdbbe;
    color: #ffffff;
  }
  .DayPicker-Day {
    text-align: center;
    vertical-align: middle;
    position: relative;
    height: 45px;
    width: 60px;
    &__cellStyle {
      height: 45px;
      width: 45px;
      position: relative;
      border-radius: 50%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    &__eventStyle {
      color: white;
      background-color: maroon;
      vertical-align: middle;
      text-align: center;
      border-radius: 10px;
      .DayPicker-Day__today-dot {
        .fa {
          color: white !important;
        }
      }
    }
    &__dateStyle {
      font-size: 16px;
      vertical-align: middle;
      text-align: center;
    }
  }
  .DayPicker-Day--today {
    .DayPicker-Day__cellStyle {
      // background-color: rgb(166, 208, 228);
      //color: black;
      position: relative; // border-radius: 10px;
      &:hover {
        background-color: #d2dbdbbe;
        color: #ffffff;
        .DayPicker-Day__today-dot {
          .fa {
            color: #ffffff;
          }
        }
      }
      .DayPicker-Day__today-dot {
        .fa {
          color: black;
          position: absolute;
          left: 0;
          right: 0;
        }
      }
    }
  }
  .DayPicker-Weekdays .DayPicker-Weekday {
    font-size: 16px;
  }
  .DayPicker-Caption>div {
    font-size: 16px;
    padding-left: 12px;
  }
  .DayPicker-NavButton {
    width: 20px;
    height: 20px;
    right: 23px;
  }
}

.table-curved {
  .border-wrapper {
    border: solid #000 1px;
  }
  .table {
    border-collapse: separate;
    border-radius: 4px;
  }
  .table>thead:first-child>tr:first-child>th {
    border-bottom: 0px; // border-top: solid #ccc 1px;
  }
  .table td,
  .table th {
    // border-left: 1px solid #ccc;
    // border-top: 1px solid #ccc;
  }
  .table> :first-child> :first-child> :first-child {
    border-radius: 4px 0 0 0;
  }
  .table> :first-child> :first-child> :last-child {
    border-radius: 0 4px 0 0;
  }
  .table> :last-child> :last-child> :first-child {
    border-radius: 0 0 0 4px;
  }
  .table> :last-child> :last-child> :last-child {
    border-radius: 0 0 4px 0;
  }
}